body {
  margin: 1%; padding: 1%;
  display: flex; justify-content: center; 
  border: thin solid blue;
}
main {
  /* Like Google sites window. */
  width: 1175px; height: 1200px;
  display: flex; justify-content: center; 
  border: thin solid green;
}
