@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap')
body {
  font-family: 'Open Sans Condensed', sans-serif;
  margin: 1em; padding: 1em;
  background-color: #fafafa; border: thin solid #639; 
}
code, pre, tt { font-family: 'Roboto Mono', monospace; }
iframe { border: none; }
footer {
  text-align: center; font-size: small; 
  padding-top: 1em; margin-top: 1em; border-top: thin solid #639;
}
#content {
  display: flex; flex-direction: column;
  justify-content: center; align-items: center;
}
